body
{
    background-color: #CCC;
}

#app-research .jumbotron h2 span
{
    background-color: #222;
}

#app-research .jumbotron h2 span
{
    color: white;
}

body
{
    font-family: 'Barlow Condensed', sans-serif;
}

#app-research .jumbotron h2 span
{
    padding: 0 3px;
}

#app-research .jumbotron
{
    margin-top: 15px;
    padding: 15px;
}

